/*
 *
 * Header Styles
 *
 * This document contains all of the styles for header and navigation.
 *
 */

 .header-nav {
   height: $nav-height;
   width: 100%;

    &.dark {
      background-color: $nav-bg-dark;

       @include navbar;

    }
 }
