/*
 *
 * Archived projects page styles
 *
 */

.projects-archived {
  margin-top: 40px;

  & .archived-row {
    margin-top: $archived-row-margin;

    & .archived-img-holder {
      position: relative;
      width: 100%;
      height:160px;
      background-color: $test-bg;
      overflow: hidden;

      & img {
        min-width: 100%;
        height: 100%;
      }
    }

    & .archived-title {
      font-weight: 700;
      font-size: 1.6rem;
    }

    & .rule {
      height: 1px;
      background-color: black;
      width: 100%;
      margin-top: $archived-row-margin
    }

    &:last-child {
      margin-bottom: 100px;
      & .rule {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .projects-archived {
    & .archived-row {
      & .archived-title, .archived-body {
        margin-top: $archived-row-margin;
      }
    }
  }
}
