/*
 * Sass Variables
 *
 * This document contains a collection of Sass variables for the website. This
 * allows the use of reuseable values such as colors and fonts.
 */

$smith-blue: #1a90fb;

$nav-height: 140px;
$logo-height: 65px;

$nav-bg-dark: rgba(0,0,0,0.6);
$nav-bg-light: rgba(255,255,255,0.5);

$type-dark: rgb(50,50,50);

$sub-event-padding: 7px;
