/*
 * Sass Variables
 *
 * This document contains a collection of Sass variables for the website. This
 * allows the use of reuseable values such as colors and fonts.
 */
$test-bg: rgba(220, 20, 10, 0.1);

$smith-blue: #1a90fb;

$nav-height: 140px;
$logo-height: 65px;

$nav-bg-dark: rgba(0,0,0,0.6);
$nav-bg-light: rgba(255,255,255,0.5);

$type-dark: rgb(50,50,50);

$sub-event-padding: 7px;


// project individual
$project-info-margin: 125px;

//project archived
$archived-row-margin: 25px;

//shadows
$depth0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$depth1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
