/*
 * Sass Variables
 *
 * This document contains a collection of Sass variables for the website. This
 * allows the use of reuseable values such as colors and fonts.
 */

$nav-height: 140px;
$nav-bg-dark: rgba(0,0,0,0.5);
$logo-height: 65px;
